ukol-08: Adopce zvířat
Úkol můžeš odevzdat buďto jako Jupyter Notebook .ipynb, nebo jako klasický program .py.

Stáhni si dataset, který obsahuje seznam zvířat k adopci v ZOO Praha. Zdroj dat je Národní katalog otevřených dat.

Data si načti pomocí metody pandas.read_csv(). Pozor, nastav oddělovač na znak středníku. Využij parametr sep.

Seznam se s daty. Kolik má tabulka řádek a sloupců? Jak se sloupce jmenují?

Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.

In [2]:
import pandas
data = pandas.read_csv('adopce-zvirat.txt', sep=';')
data.head()

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1

In [3]:
pocet_radku, pocet_sloupcu = data.shape
print("Počet řádků:", pocet_radku)
print("Počet sloupců:", pocet_sloupcu)

Počet řádků: 513
Počet sloupců: 6

In [9]:
jmena_sloupcu = data.columns
print("Názvy sloupců:")
for jmeno in jmena_sloupcu:
    print(jmeno)

Názvy sloupců:
id
nazev_cz
nazev_en
trida_cz
cena
k_prohlidce

In [14]:
zvire_index_34 = data.loc[34, "nazev_cz"]
zvire_index_34_anglicky = data.loc[34, "nazev_en"]
print(f"Český název zvířete na záznamu 34: {zvire_index_34}, anglický název zvířete na záznamu 34: {zvire_index_34_anglicky}")

Český název zvířete na záznamu 34: Ibis bílý, anglický název zvířete na záznamu 34: White ibis